<div [@routerTransition]>
    <h2 class="text-muted">Dashboard <small>Statistics Overview</small></h2>
    <div class="row">
        <div class="col-md-12">
            Hrllo
        </div>
    </div>

    <div class="col text-right">
        <div class="d-inline-block dropdown" ngbDropdown placement="top-right">
            <button class="btn btn-outline-primary" ngbDropdownToggle>Toggle dropup</button>
            <div ngbDropdownMenu>
                <button class="dropdown-item">Action</button>
                <button class="dropdown-item">Another Action</button>
                <button class="dropdown-item">Something else is here</button>
            </div>
        </div>
    </div>
    <hr />
</div>
