<nav  class="sidebar">
    <div class="list-group">
        <a [routerLinkActive]="['router-link-active']" class="list-group-item" routerLink="/dashboard">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;
            <span>{{ 'Dashboard'}}</span>
        </a>
        <a [routerLinkActive]="['router-link-active']" [routerLink]="['/charts']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
            <span>{{ 'Charts'}}</span>
        </a>
       
        </div>

</nav>
